* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main {
  border: 2px solid black;
  padding: 100px;
}

.container-input {

  &__label {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
  }

  &__user {
    font-size: 20px;
  }
}

.translate-btn {
  margin: auto;
  max-width: 200px;
  margin-top: 10px;
}

.container-output {

  &__label {
    padding: 4px;
    margin-top: 5px;
    font-size: 20px;
  }

  &__readonly {
    margin-top: 15px;
    font-size: 20px;
  }
}